.trevel__img-2 {
    width: 95.23%;
    height: 42.76%;
    grid-column: 1 / span 1;
    grid-row: 1;
    z-index: 2;
    margin: 90.21px 23.27px 0 23.64px ;
}

@media screen and (max-width: 1024px) {
    .trevel__img-2 {
        margin: 85.07px 21.95px 0 22.3px;
    }
}

@media screen and (max-width: 768px) {
    .trevel__img-2 {
        margin: 70.41px 18.16px 0 18.45px;
    }
}

@media screen and (max-width: 320px) {
    .trevel__img-2 {   
        margin: 29.34px 7.57px 0 7.69px;
    }
}