.plaсes__paragraph-2 {
    margin-top: 26px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .plaсes__paragraph_2 {
        margin-top: 26px;
        
    }
}

@media screen and (max-width: 768px) {
    .plaсes__paragraph_2 {
        margin-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .plaсes__paragraph_2 {
        margin-top: 25px;   
        
    }
}