.plaсes__website {
    grid-area: website;
    width: 456px;
    height: 46px;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .plaсes__website {
        width: 456px;
        height: 46px;
    }
}

@media screen and (max-width: 768px) {
    .plaсes__website {
        width: 352px;
        height: 46px;    
    }
}

@media screen and (max-width: 320px) {
    .plaсes__website {
        width: 320px;   
        height: 46px;
        margin-left: 16px;
    }
}