.trevel {
    max-width: 76.88%;
    margin: 64px auto 0;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .trevel {
        max-width: 90.63%;
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .trevel {
        max-width: 100%;
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .trevel {
        max-width: 100%;
        margin: 40px auto 0;
    }
}