.plaсes {
    max-width: 984px;
    min-width: 320px;
    margin: auto;
    display: grid;
    color: #fff;
    grid-template-rows: repeat(5, auto);
    width: 100%;
    margin-top: 92px;
    gap: 80px 0;
}

@media screen and (max-width: 1024px) {
    .plaсes {
        gap: 62px;
    }
    
}

@media screen and (max-width: 768px) {
    .plaсes {
        gap: 73px 0;
    }
    
}

@media screen and (max-width: 320px) {
    .plaсes {
        margin-top: 66px;
        gap: 24px 0;
    }
    
}