.cover {
    margin: 92px auto 96px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px auto 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
            margin: 51px 0 65px;
    }
}