.cover__title {
    position: absolute;
    left: 28%;
    bottom: 46%;
    width: 560px;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    z-index: 10;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        left: 23%;
        top: 31%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        left: 14%;
        top: 23%;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: 288px;
        margin: 0 auto 16px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        margin: 0 0 16px;
        left: 5%;
        top: 16%;
    }
}
